.iframe-container {
    width: 80vw;
    height: 90vh;
}

@media (max-width: 900px) {
    .iframe-container {
    height: 80vh;
    }
}

@media (max-width: 600px) {
    .iframe-container {
    height: 60vh;
    }
}
